    <%= simple_form_for @post do |f| %>
        <div class="form-group">
            <p class="text-center"><%= f.input :description %></p>
        </div>
        <div class="form-group">
            <p><%= f.label :image%>
            <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg' %></p>
            <%= f.button :submit %>
        </div>
    <% end %>
